@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Playfair+Display&display=swap');

*{
   margin: 0;
   padding: 0;                                  /*configuração para tirar pré definições do html*/
   box-sizing: border-box;
}

body{
    font-size: 100%;
    background: rgb(144,61,185);
    background: radial-gradient(circle, rgba(144,61,185,1) 10%, rgba(85,18,140,1) 62%, rgba(70,0,113,1) 100%);
}

a{
    text-decoration: none;                     /*cpnfiguração para tirar estilo de link*/
    color: inherit;
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

ul{
    display: flex;
    font-family: 'Mukta', sans-serif;
    color: #f6f6ff;
    font-weight: 400;
    font-size:20px;
    list-style-type: none;
}

li{
    margin:  0 15px;
}


.pagina1{
     display: flex;
     flex-direction: column;
     border-top: 0.4px solid #f6f6ff;

     text-align: center;
     padding: 250px;
}

.pagina1-titulos{
    display: flex;
    flex-direction: column;
    color: #f6f6ff;
    justify-content: space-between;
    gap: 30px;
}

.pagina1-titulos-sub{
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
}

.pagina1-titulos-titulo{
    font-family: 'Playfair Display';
    font-size: 80px;
}

.pagina1-botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:32px;
    padding: 60px;
    color: #f6f6ff; 
}

.pagina1-botoes-botao{
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    height: 64px;
    width: 64px;
}

.pagina1-botoes-botao:hover{
    opacity: 0.8 ;
}

.pagina2{
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: #f6f6ff;
}

.pagina2-titulo{
    font-size: 35px;
    font-family: 'Playfair Display';
    color:#4b0685;
    text-align: center;
}

.pagina2-conteudo{
    width: 1500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20vh;
}

.pagina2-conteudo-perfil{
    height:40vh;
    width: 40vh;
    border-radius: 10%;
    border-style:groove;
    border-color: #4b0685;
}



.pagina2-conteudo-texto{
    font-size: 2vh;
    display: flex;
    text-align: justify;
}

.pagina3{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 0.4px solid #f6f6ff;
    font-size: 35px;
    font-family: 'Playfair Display';
    color: #f6f6ff;
    text-align: center;
    border-bottom: 0.4px solid #f6f6ff;
}
.pagina3-quadros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:32px;
    padding: 100px;
    width: 100%;
    height: 650px;

}

.pagina3-quadro1, .pagina3-quadro2, .pagina3-quadro3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: auto;
    background-color:#f6f6ff;
    width: 500px;
    height: 600px;
    gap: 30px;
}

.pagina3-quadro1-texto{
    color: #4b0685;
    text-align: center;

}
.rodape-formacao{

    height: 220px;
}

.pagina4{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 0.4px solid #f6f6ff;
    font-size: 35px;
    font-family:'Mukta', sans-serif ;
    color:#4b0685;
    background-color: #f6f6ff;
    text-align: center;
    border-bottom: 0.4px solid #f6f6ff;
}

.pagina4-quadros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:32px;
    padding: 100px;
    width: 100%;
    height: 650px;

}

.pagina4-quadro1, .pagina4-quadro2, .pagina4-quadro3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-size: auto;
    color: #f6f6ff;
    background-color:#4b0685;
    width: 500px;
    height: 600px;
    gap: 30px;
}

.pagina4-quadro1-texto{
    color:#f6f6ff;
    text-align: center;

}
.rodape-projetos{

    height: 220px;
}

.bt-projetos {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #4B0685;
    font-family:'Mukta', sans-serif ;
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
    background-color: #F6F6FF;
    border: solid #4B0685 5px;
    cursor: pointer;
    text-align: center;
 }
 
 .bt-projetos:hover {
    border: solid #4B0685 5px;
    background: #F6F6FF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 }


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    
}
.btn::after {
    transition: margin-top 2s;
    background-color: transparent;
}

.btn:hover::after {
    background-color: transparent;
    margin-top:-8px;
}