@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Playfair+Display&display=swap');

*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   text-decoration: none;
}
body{
    font-size: 100%;
    background-color: #4b0685;
}


nav{
    display: flex;
    justify-content: space-around;
    padding: 24px;
}
ul{
    
    display: flex;
    font-family: 'Mukta', sans-serif;
    color: antiquewhite;
    font-weight: 400;
    font-size:20px;
    list-style-type: none;
}

li{
    margin:  0 15px;
}

.pagina1{
     border-top: 0.4px solid antiquewhite;
     display: flex;
     flex-direction: column;
     text-align: center;
     padding: 250px;
}

.pagina1-titulos{
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    justify-content: space-between;
    gap: 30px;
}

.pagina1-titulos-sub{
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
}

.pagina1-titulos-titulo{
    font-family: 'Playfair Display';
    font-size: 80px;
}

.pagina1-botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:32px;
    padding: 60px;
    color: antiquewhite; 

}

.pagina1-botoes-botao{
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    height: 64px;
    width: 64px;
    
}

.pagina1-botoes-botao:hover{
    opacity: 0.8 ;
}